!composer.lock
!bin/intervention

.editorconfig
.git
.github
.idea
.travis.yml
CHANGELOG.md
Makefile
README.md
cliff.toml
compose.override.yml
compose.override.yml.dist
compose.yml
phpcs.xml.dist
phpstan.neon
project_env.sh
report.txt
router.php
supervisord.pid
public/assets
public/cache
public/dev.php
public/croptest.html
public/images
tests/temp

.php-cs-fixer.cache
.php-cs-fixer.dist.php
docker-bake.hcl
