!vendor
!composer.lock
!bin/intervention

web/cache
web/assets
web/images
web/dev.php
.git
.editorconfig
.idea
.travis.yml
Makefile
README.md
docker-compose.yml
compose.yml
compose.override.yml
phpstan.neon
report.txt
router.php
supervisord.pid
project_env.sh
