parameters:
    excludes_analyse:
        - */node_modules/*
        - */bower_components/*
        - */static/*
    ignoreErrors:
        - '#unknown class Parsedown(Extra)?#'
        - '#Instantiated class Memcached not found#'
        - '#Instantiated class Redis not found#'
    reportUnmatchedIgnoredErrors: false
