parameters:
    level: max
    paths:
        - src
    excludePaths:
        - */node_modules/*
        - */bower_components/*
        - */static/*
    ignoreErrors:
        - identifier: missingType.iterableValue
        - '#unknown class Parsedown(Extra)?#'
        - '#Instantiated class Memcached not found#'
        - '#Instantiated class Redis not found#'
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false


